<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
 
</head>

<body>
     <div id="wrapper">
    {{> navigation}}
   

       
            {{>carrousel}}
       
    

    <!--section one -->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                    <a href="https://www.youtube.com/watch?v=AFfksuGuFVA"><i class="fab fa-youtube fa-5x"></i></a>
                    <a href="https://open.spotify.com/album/2ePWZWBcfsiYli46irpZoM"><i class="fab fa-spotify fa-5x" ></i></a>
                    <a href="https://music.apple.com/us/album/cortando-por-lo-sano/1463193407"><i class="fab fa-apple fa-5x" ></i></a>
            </div>
            <div class="col-sm-6">
                <h3>Pueden escucharnos en todas las plataformas virtuales</h3>
                    <p>Banda Hc-Punk.</p>
            </div>
    </div>


    </div>
    {{> footer}}

    </div>
</body>

</html>